<p>
  A simple Ruby (on Rails) indexer for the CRAN server.
</p>
<p>
  You can find the source code of this application on GitHub on <a href="https://github.com/lucatironi/cranr">lucatironi/cranr</a>.
</p>
<p>
  This project is continously integrated with Codeship. The current status of the build is:<br>
  <a href="https://app.codeship.com/projects/252000"><img src="https://app.codeship.com/projects/7cc31300-985b-0135-163f-5a0d318eb11b/status?branch=master"></a>
</p>
<p>
  <%= link_to 'Explores the latest packages', packages_path %>
</p>
<h2>Development</h2>
<p>
  Setup the app:
</p>
<code><pre>
$ docker-compose build

$ docker-compose run app bin/setup

$ docker-compose up
</pre></code>
<p>
  Run the specs (with the docker-compose services up and running):
</p>
<code><pre>
$ docker-compose exec app rspec
</pre></code>
